<p>Hello <%= @user.full_name %> </p>

<p>New driver is registered into application.</p>

<p>Name: <%= @driver.full_name %></p>
<p>Mobile Number: <%= @driver.mobile_number %></p>
<p>Email: <%= @driver.email %></p>
<p>Company: <%= @driver.company %></p>